# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore cache and log files
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore package lock files (optional)
package-lock.json
.pnpm-debug.log*

# Ignore Webpack-specific files or any other build artifacts
build/

# Ignore OS or IDE specific files
.DS_Store
.idea/
.vscode/

# Ignore any personal or local environment settings
.env
.env.local